.Shortcut1-Shortcut2 {
    font-family: Monaco;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: right;
    color: #2b292d;
}

.SVALKA-Important-cla {
    font-family: Monaco;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: rgba(43, 41, 45, 1);
}

.text-style-1 {
    font-family: Monaco;
    font-size: 20px;
    color: rgba(43, 41, 45, 0.6);
}

.Get-rid-of-stuff {
    font-family: Monaco;
    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.98;
    letter-spacing: -0.5px;
    color: #2b292d;
}

.Give-things-you-no-l {
    font-family: Monaco;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #2b292d;
}

.card {
    background-color: #f08b77;
}

.What-kind-of-stuff-y {
    font-family: Monaco;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #2b292d;
}

.text-style-2{
    color: rgba(43, 41, 45, 0.9);
}
