.Shortcut1-Shortcut2 {
    font-family: Monaco;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: right;
    color: #2b292d;
}

.SVALKA-Important-cla {
    font-family: Monaco;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: rgba(43, 41, 45, 1);
}

.text-style-1 {
    font-family: Monaco;
    font-size: 20px;
    color: rgba(43, 41, 45, 0.6);
}

.Get-rid-of-stuff {
    font-family: Monaco;
    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.98;
    letter-spacing: -0.5px;
    color: #2b292d;
}

.Give-things-you-no-l {
    font-family: Monaco;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #2b292d;
}

.card {
    background-color: #f08b77;
}

.Start-your-free-memb {
    font-family: Monaco;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.25px;
    color: #2b292d;
}

.We-hate-spam-and-wil {
    font-family: Monaco;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: rgba(43, 41, 45, 0.9);
}

.logo-fix{
    border-radius: 13px;
}

.text-fix{
    line-height: 2px;
}

.for-intro{
    padding-top: 4%;
    padding-bottom: 4%;
}

.nav-link {
    color: rgb(3, 3, 3) !important;
}

.nav-link.active,
.nav-link:hover {
    color: #ffffff !important;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

.bg{
    background-color: #f4f5f7;
    padding-top: 4%;
    padding-bottom: 4%;
}

.bg-2{
    background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 4%;
}

.image-fix{
    padding-left: 10%;
}

.start-your-free-fix{
    padding-top: 4.5%;
}

@media (min-width: 370px) {
    .What-kind-of-stuff-y {
        font-family: Monaco;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        letter-spacing: normal;
        color: #2b292d;
    }

    .text-style-2{
        color: rgba(43, 41, 45, 0.9);
    }
}

.Some-reminder-for-th {
    font-family: Monaco;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: rgba(43, 41, 45, 0.6);
}

.Shortcut1-Shortcut2-3 {
    font-family: Monaco;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: rgba(43, 41, 45, 0.6);
}

.Terms-Privacy-Licens {
    font-family: WorkSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: rgba(43, 41, 45, 0.6);
}
